{% extends 'home.html' %} {% block title %}
  User's page
{% endblock %}
{% block menu %}
  <nav class="navbar navbar-light nav-bar" style="background-color: #d09f08;">
    <div class="row justify-content-start">
      <a href="/user" class="nav-link active bg-transparent border-0 custom-menu pl-4">Trang chủ</a>
      <div class="position-relative">
        <a class="nav-link active dropdown-toggle bg-transparent border-0 custom-menu ml-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tìm kiếm/gợi ý</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/user/search-fast">Tìm kiếm</a>
          <a class="dropdown-item" href="/user/search-history">Lịch sử tìm kiếm</a>
        </div>
      </div>
      <div class="position-relative">
        <a class="nav-link active dropdown-toggle bg-transparent border-0 custom-menu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Các trang liên kết</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://cit.ctu.edu.vn/">Trường CNTT &amp; TT</a>
          <a class="dropdown-item" href="https://lrcopac.ctu.edu.vn/pages/opac/wpid-search-stype-form-quick.html">Trung tâm học liệu</a>
        </div>
      </div>
    </div>
    <div class="row justify-content-end mr-4">
      <div class="position-relative">
        <a class="nav-link active dropdown-toggle bg-transparent border-0 custom-menu ml-3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tài khoản</a>
        <div class="dropdown-menu">
          {% if quyen == 'ADMIN' %}
            <a class="dropdown-item" href="/admin">Chế độ quản lý</a>
          {% endif %}
          <a class="dropdown-item" href="/user/logout">Đăng xuất</a>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
{% block detail_book %}

{% endblock %}
{% block chatbot %}
  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
  <df-messenger intent="WELCOME" chat-title="Nlp-Chatbot" agent-id="884f007e-29eb-43d9-adad-9dc4bed360be" language-code="vi"></df-messenger>
{% endblock %}
